body {
    background-color: #fff;
}

#container {
    width: 800px;
    margin: auto;
    background-color: #ffa41b;
}

header {
    border: solid;
    padding: 40px;
    height: 80px;
    color: #dae1e7;
    background-color: #142850;
}

nav {
    border: solid;
    padding: 8px 40px;
    background-color: #005082;
    color: #ffa41b;
}

#contents {
    border: solid;
    padding: 40px;
    height: 400px;
}

footer {
    border: solid;
    padding: 40px;
    height: 40px;
    background-color: #142850;
    color: #dae1e7;
}
