body {
    background-color: #142850;
}

#container {
    width: 800px;
    margin: auto;
    background-color: #142850;
}

header {
    padding: 40px;
    height: 80px;
}

nav {
    padding: 8px 40px;
    background-color: #142850;
    color: #00909e;
    border-color: #27496d;
}

#contents {
    padding: 40px;
    height: 400px;
}

footer {
    border-color: #dae1e7;
    padding: 40px;
    height: 40px;
    background-color: #142850;
    color: #00909e;
}
